<div class="container col-dark">
  <div class="col">
    <p>Add bucket list item</p>
  </div>
  <div class="col">
    <p>Your bucket list</p>
  </div>
</div>
<div class="container col-light">
  <div class="col">
    <p class="sm">Use this form to add a new bucket list goal. What do you want to do in life.</p>

    <form>
      <input type="text" class = "txt" name="item" placeholder="Life Goal...">
      <input type="submit" class="btn" value="Add Item">
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      I want to climb a mountain...
    </p>
  </div>
</div>
<div class="container col-dark">
    <div class="col">
      <app-canvas></app-canvas>
    </div>
    <div class="col">
     
    </div>
  </div>