.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col{
    padding: .4em 1.3em;
    min-height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.col-dark {
    background: #2885C4;
}

.col-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

.life-container{
    background: #3FA0E1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 700px){
    .container{
        grid-template-columns: 1fr;
    }
}